<%- include("partials/header.ejs") %>
<div class="ui container">

<div class="ui raised segment">
    <h2 class="header"><%= blog.title %></h2>
    <p><%= blog.date.toDateString() %></p>
    <div class="ui segment">
    <div class="ui large image">
        <img src="<%= blog.image %>">
    </div>
    </div>
    <div class="description"><p><%- blog.thetext %></p></div>
    <a class="ui secondary button " href="/blogs/<%= blog._id %>/edit">Edit This Blog</a>
    <form action="/blogs/<%= blog._id %>?_method=DELETE" method="POST" id="deleteform">
      <button class="ui red button" type="submit">Delete This Post</button>
    </form>
</div>

</div>
<%- include("partials/footer.ejs") %>